<div>
  	<h3 class="header" style="text-align: center;margin-top: 50px;color: #e65100">¿Quieres formarte parte de esta gran aplicacion? </h3>
  	<p class="header text_b" style="color:black;font-size: 1.7rem;bottom: 150px;width: 60%;text-align: center;margin: 10px auto 30px auto">Solo tienes que llenar el siguiente formulario y listo! Empezaras a recibir más clientela en menos de lo que esperas. </p>
  	<section class="cont-registro">
  		<form action="controller/subir.php" class="row" method="POST" enctype="multipart/form-data">
		    <div  style="color: #e65100">Datos del Restaurante</div>
		        <div class="input-field col m12">
		          <i class="mdi-image-edit prefix"></i>
		          <input id="nombre" name="nombre" type="text" class="validate">
		          <label for="nombre">Nombre del Restaurante</label>
		        </div>
		        <div class="input-field col m12" style="margin-bottom: 50px">
		          <i class="mdi-image-blur-linear prefix"></i>
		          <input id="descripcion" type="text" class="validate" name="descripcion">
		          <label for="descripcion">Descripción</label>
		        </div>
		        <div style="color: #e65100">Ubicación</div>
		        <p>Si no sabes tus coordenadas <a href="" onclick="vervideo()">Haz click aqui.</a></p>
		        <div class="vdo">
			    	<iframe width="420" height="100%"src="https://www.youtube.com/embed/XD8DQnQ0XkM?autoplay=0" frameborder="0"></iframe>
			    </div>
		        <div class="input-field col m12">
		          <i class="mdi-communication-location-on prefix"></i>
		          <input id="latitud" type="text" class="validate" name="latitud">
		          <label for="latitud">Latitud</label>
		        </div>
		        <div class="input-field col m12">
		          <i class="mdi-communication-location-on prefix"></i>
		          <input id="longitud" type="text" class="validate" name="longitud">
		          <label for="longitud">Longitud</label>
		        </div>
		        <div class="file-field input-field col s11">
			      <div class="btn orange darken-4">
			        <span>File</span>
			        <input type="file" id="imagen" name="imagen">
			      </div>
			      <div class="file-path-wrapper">
			        <input class="file-path validate " type="text" name="imagen" id="imagen">
			      </div>
			    </div>
			    <br>
			   	<button type="submit" class="waves-effect btn orange darken-4 btnr">&nbsp Registrar &nbsp </button>
		</form>
  	</section>
</div>
<script>
	function vervideo(){
		$('.vdo').css('height','315px');
	}
</script>